@font-face {
  font-family: "amazone";
  src: url("../assets/fonts/amazon.ttf") format("truetype");
}
h1 {
  font: 100% "amazone", sans-serif;
  color: #000000;
  font-size: 100px;
  line-height: 1;
  margin: 2rem;
}

h2 {
  font: 100% adobe-devanagari, sans-serif;
  font-size: 48px;
}

h3 {
  font: 100% adobe-devanagari, sans-serif;
  font-size: 32px;
  margin-bottom: 0;
  line-height: 1;
}

h4 {
  font: 100% adobe-devanagari, sans-serif;
}

p, a {
  font: 100% adobe-devanagari, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.button-1 {
  background-color: #2E2E2E;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: block;
  transition: background-color 0.1s ease;
}
.button-1:hover {
  background-color: #3d3d3d;
}

main {
  margin: 0 1rem;
}
@media (min-width: 400px) {
  main {
    margin: 0 2rem;
  }
}
@media (min-width: 1921px) {
  main {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.our-shop {
  background: #ACC816;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.our-shop .text {
  flex: 1 1 350px;
  position: relative;
}
.our-shop .text .content-bottom {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 1102px) {
  .our-shop .text .content-bottom {
    padding-right: 2rem;
    margin-bottom: 4px;
  }
}
@media (min-width: 1102px) {
  .our-shop .text .content-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.our-shop .text .content-bottom p {
  margin: 1rem 0 2rem;
}
.our-shop .img {
  flex: 1 1 64%;
}

.street-market {
  background: url("../assets/img/record.jpg") center/cover no-repeat;
  height: 800px;
  position: relative;
  margin-bottom: 2rem;
}
.street-market h2 {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
}
.street-market p {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 70ch;
  padding: 2rem 0;
}
@media (min-width: 630px) {
  .street-market p {
    padding: 2rem;
  }
}

.shop-news {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #591623;
  margin-bottom: 2rem;
}
.shop-news .title {
  padding: 1rem;
  color: #EAD6AE;
  text-align: center;
  align-self: center;
  text-transform: capitalize;
}
.shop-news .text-top {
  padding: 1rem;
  color: #EAD6AE;
}
.shop-news .text-top h3, .shop-news .text-top h4 {
  color: #ffffff;
}
.shop-news .text-top p {
  margin-top: 2rem;
}
.shop-news .text-top .underline {
  background-color: #ffffff;
}
.shop-news .img {
  padding: 1rem;
}
.shop-news .img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.shop-news > * {
  flex: 1 1 350px;
}

.treasures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.treasures .rabbit {
  margin-bottom: 2rem;
  object-fit: cover;
}
@media (min-width: 400px) {
  .treasures .rabbit {
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 939px) {
  .treasures .rabbit {
    margin-bottom: 0;
  }
}
.treasures .grid-flex {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 400px) {
  .treasures .grid-flex {
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 939px) {
  .treasures .grid-flex {
    padding: 0 1rem;
    margin-bottom: 0;
  }
}
.treasures .grid-flex .chest {
  padding-top: 2rem;
  object-fit: cover;
}
.treasures .grid-flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.treasures .info {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 400px) {
  .treasures .info {
    min-width: 350px;
  }
}
@media (min-width: 939px) {
  .treasures .info {
    padding-left: 1rem;
  }
}
.treasures .info .text {
  background-color: #EAD6AE;
  padding: 1rem;
  position: relative;
  height: 90%;
  margin-bottom: 2rem;
}
@media (min-width: 939px) {
  .treasures .info .text .push-down {
    position: absolute;
    bottom: 0;
  }
}
.treasures .info .text .push-down p {
  padding: 1rem 1rem 1rem 0;
}

.treasures > * {
  width: 100%;
  flex: 1 1 auto;
}
@media (min-width: 400px) {
  .treasures > * {
    width: 50%;
  }
}
@media (min-width: 939px) {
  .treasures > * {
    width: 30%;
  }
}

.center {
  margin: 0 auto;
  display: block;
}

.visit {
  margin-bottom: 2rem;
}
.visit .contact-intro {
  text-align: center;
  max-width: 70ch;
  margin: 2rem auto;
}
.visit .titlebar {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.visit .content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.visit .content > * {
  flex: 1 1 424px;
}
.visit .map-container {
  margin-bottom: 2rem;
  max-height: max-content;
}
@media (min-width: 810px) {
  .visit .map-container {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.visit .img {
  background: url("../assets/img/hallway.jpg") center/cover no-repeat;
  min-height: 100%;
  width: 100%;
}
@media (min-width: 810px) {
  .visit .img {
    margin-left: 1rem;
  }
}
.visit .map {
  width: 100%;
  padding-bottom: 100%;
  background-color: #EAD6AE;
}
.visit .button {
  margin-top: 2rem;
}
.visit .hours {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}
.visit .hours .time {
  padding: 1rem;
  margin-bottom: 2rem;
}
.visit .hours .time-1 {
  background-color: #591623;
  color: #EAD6AE;
  width: 100%;
}
@media (min-width: 472px) {
  .visit .hours .time-1 {
    flex: 1;
  }
}
.visit .hours .time-2 {
  background-color: #ACC816;
  flex: 1 1 100px;
  margin-right: 1rem;
}
@media (min-width: 472px) {
  .visit .hours .time-2 {
    margin: 0 2rem 2rem;
  }
}
.visit .hours .time-3 {
  background-color: #EAD6AE;
  flex: 1 1 100px;
  margin-left: 1rem;
}
@media (min-width: 472px) {
  .visit .hours .time-3 {
    margin-left: 0;
  }
}
.visit .contact-info {
  background-color: #ACC816;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.visit .contact-info p {
  margin-top: 0.5rem;
  font-size: 20px;
  margin-bottom: 3rem;
}
@media (min-width: 810px) {
  .visit .contact-info {
    margin-left: 1rem;
  }
}

.events-calendar .event-intro {
  max-width: 70ch;
  text-align: center;
  margin: 2rem auto;
}
.events-calendar .button {
  margin-bottom: 2rem;
}
.events-calendar > h2 {
  text-align: center;
}
.events-calendar .event-brown {
  background: url("../assets/img/frontroom.jpg") center/cover no-repeat;
}
.events-calendar .event-brown .content {
  background-color: #EAD6AE;
  color: #591623;
}
.events-calendar .event-red {
  background: url("../assets/img/frontroom.jpg") center/cover no-repeat;
}
.events-calendar .event-red .content {
  background-color: #591623;
  color: #EAD6AE;
}
.events-calendar .event-green {
  background: url("../assets/img/games.jpg") center/cover no-repeat;
}
.events-calendar .event-green .content {
  background-color: #ACC816;
  color: #000000;
}
.events-calendar .event {
  height: 900px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.events-calendar .event .content {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
}
.events-calendar .event .content .intro {
  width: 100%;
  padding: 1rem 1rem;
}
.events-calendar .event .content .intro h4 {
  margin-bottom: 1rem;
}
.events-calendar .event .content .intro p {
  max-width: 70ch;
}
.events-calendar .event .content .info {
  width: 100%;
  padding: 1rem 1rem;
}

.gallery {
  text-align: center;
}
.gallery p {
  max-width: 70ch;
  margin: 2rem auto;
}
.gallery .gallery-1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.gallery .gallery-1 img {
  padding: 1rem;
  object-fit: cover;
  width: 100%;
  min-width: 200px;
}
@media (min-width: 768px) {
  .gallery .gallery-1 .gallery-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.underline {
  height: 5px;
  width: 100px;
  display: block;
  background-color: #ACC816;
}

.white {
  background-color: #ffffff;
}

footer {
  background-color: #ACC816;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
footer .social-icons div {
  margin: 1rem 1rem;
}
footer .social-icons svg {
  width: 30px;
  height: 30px;
  color: #000000;
}
footer .social-icons img {
  height: 30px;
}
footer .footer-nav ul {
  display: flex;
  margin: 0 auto;
  width: max-content;
}
footer .footer-nav ul li {
  margin: 1rem;
}
footer .footer-nav ul li a {
  color: #000000;
  font-size: 1.3rem;
}
footer .site-info {
  color: #ACC816;
  background-color: #000000;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
footer .site-info a {
  color: white;
}
footer .site-info a:hover {
  text-decoration: underline;
}

header h1 {
  font-size: 4rem;
  margin: 0;
  height: 100%;
  padding-top: 2rem;
  color: #ffffff;
}
header p {
  color: #ffffff;
  font-family: "open-sans";
  font-size: 1.9rem;
  padding-bottom: 2rem;
}
header .navbar {
  text-align: center;
  background-color: #131313;
  margin-bottom: 2rem;
}
header img {
  padding: 0 2rem 2rem;
  width: 100%;
}

nav {
  height: 100%;
  margin: 0 auto;
  display: block;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 2rem 1rem 2rem;
}
nav li {
  height: 100%;
  padding: 0.3rem 1rem;
}
nav a {
  text-decoration: none;
  font: 100% adobe-devanagari, sans-serif;
  font-size: 24px;
  color: #ffffff;
  transition: border 0.2s ease, color 0.2s ease;
  padding: 0;
  height: 100%;
}
nav a:hover {
  color: #ACC816;
}

/*# sourceMappingURL=main.css.map */
