footer
    background-color: $green

.social-icons
    display: flex
    align-items: center
    justify-content: center
    padding-top: 2rem

    div
        margin: 1rem 1.5rem

    svg
        width: 30px
        height: 30px
        color: $black

    img
        height: 30px

