header

    h1
        font-size: 48px
        margin: 0
        height: 100%
        padding: 2rem

    .navbar
        text-align: center
        background-color: $white

    img
        padding: 0 2rem 2rem
        width: 100%
    
nav
    height: 100%
    margin: 0 auto
    display: block

    ul
        list-style: none
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        height: 100%
        padding: 0 2rem
    
    li
        height: 100%
        padding: .3rem

    a
        text-decoration: none
        font: 100% $body-font
        font-size: 24px
        color: $black
        transition: background .2s ease, color .2s ease
        padding: 2.8rem .7rem
        height: 100%
        
        
        &:hover
            color: $green

    