main
    margin: 0 1rem

    @media (min-width: 400px)
        margin: 0 2rem

    @media (min-width: 1921px)
        max-width: 1920px
        margin: 0 auto
    
.our-shop
    background: $green
    padding: 2rem
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin-bottom: 2rem

    .text
        flex: 1 1 350px
        position: relative
    
        .content-bottom
            width: 100%
            margin-bottom: 2rem

            @media (min-width: 1102px)
                padding-right: 2rem
                margin-bottom: 4px

            @media (min-width: 1102px)
                position: absolute
                bottom: 0
                left: 0

            p
                margin: 1rem 0 2rem

    
    .img
        flex: 1 1 64%

.street-market
    background: url('../assets/img/record.jpg') center/cover no-repeat
    height: 800px
    position: relative
    margin-bottom: 2rem

    h2
        background-color: $white
        position: absolute
        top: 0
        right: 0
        padding: 2rem
    
    p
        background-color: $white
        position: absolute
        bottom: 0
        left: 0
        max-width: 70ch
        padding: 2rem 0

        @media (min-width: 630px) 
            padding: 2rem

.shop-news
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    padding: 1rem
    background-color: $red
    margin-bottom: 2rem

    .title
        padding: 1rem
        color: $brown
        text-align: center
        align-self: center
        text-transform: capitalize

    .text-top
        padding: 1rem
        color: $brown

        h3, h4
            color: $white
        
        p
            margin-top: 2rem

        .underline
            background-color: $white
    
    .img
        padding: 1rem

        img
            object-fit: cover
            height: 100%
            width: 100%

.shop-news>*
    flex: 1 1 350px

.treasures
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 2rem

    

    .rabbit
        margin-bottom: 2rem
        object-fit: cover

        @media (min-width: 400px)
            padding-right: 1rem
            margin-bottom: 2rem

        @media (min-width: 939px)
            margin-bottom: 0
        

    .grid-flex
        margin-bottom: 2rem
        display: flex
        flex-direction: column
        justify-content: space-between
        
        @media (min-width: 400px)
            padding-left: 1rem
            margin-bottom: 2rem

        @media (min-width: 939px)
            padding: 0 1rem
            margin-bottom: 0

        .chest
            padding-top: 2rem
            object-fit: cover

        img
            width: 100%
            height: 100%
            object-fit: cover

    .info
        position: relative
        display: flex
        flex-direction: column

        @media (min-width: 400px)
            min-width: 350px

        @media (min-width: 939px)
            padding-left: 1rem
        
        .text
            background-color: $brown
            padding: 1rem
            position: relative
            height: 90%
            margin-bottom: 2rem

            .push-down

                @media (min-width: 939px)
                    position: absolute
                    bottom: 0

                p
                    padding: 1rem 1rem 1rem 0

.treasures>*
    width: 100%

    @media (min-width: 400px)
            width: 50%

    @media (min-width: 939px)
            width: 30%

    flex: 1 1 auto

.center
    margin: 0 auto
    display: block

.visit
    margin-bottom: 2rem

    .contact-intro
        text-align: center
        max-width: 70ch
        margin: 2rem auto
    
    .titlebar
        width: 100%
        text-align: center
        margin-bottom: 2rem

    .content
        display: flex
        justify-content: flex-start
        flex-wrap: wrap

    .content>*
        flex: 1 1 424px
    
    .map-container
        margin-bottom: 2rem
        max-height: max-content

        @media (min-width: 810px) 
            margin-right: 1rem
            margin-bottom: 0
            
    .img
        background: url('../assets/img/hallway.jpg') center/cover no-repeat
        min-height: 100%
        width: 100%

        @media (min-width: 810px) 
            margin-left: 1rem

    .map
        width: 100%
        padding-bottom: 100%
        background-color: $brown
            
    
    .button
        margin-top: 2rem

    .hours
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        text-align: center

        .time
            padding: 1rem
            margin-bottom: 2rem
        
        .time-1
            background-color: $red
            color: $brown
            width: 100%

            @media ( min-width: 472px )
                flex: 1
            
        .time-2
            background-color: $green
            flex: 1 1 100px
            margin-right: 1rem

            @media ( min-width: 472px )
                margin: 0 2rem 2rem

        .time-3
            background-color: $brown
            flex: 1 1 100px
            margin-left: 1rem

            @media ( min-width: 472px )
                margin-left: 0
    
    .contact-info
        background-color: $green
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center

        p
            margin-top: 0.5rem
            font-size: 20px
            margin-bottom: 3rem

        @media (min-width: 810px) 
            margin-left: 1rem
        
.events-calendar
    .event-intro
        max-width: 70ch
        text-align: center
        margin: 2rem auto

    .button
        margin-bottom: 2rem

    >h2
        text-align: center

    .event-brown
        background: url('../assets/img/frontroom.jpg') center/cover no-repeat
        .content
            background-color: $brown
            color: $red


    .event-red
        background: url('../assets/img/frontroom.jpg') center/cover no-repeat
        .content
            background-color: $red
            color: $brown
    
    .event-green
        background: url('../assets/img/games.jpg') center/cover no-repeat
        .content
            background-color: $green
            color: $black

    .event
        height: 900px
        margin-top: 2rem
        margin-bottom: 2rem
        position: relative
        
        .content
            position: absolute
            bottom: 0
            display: flex
            flex-wrap: wrap
            justify-content: space-evenly
            padding: 1rem
            width: 100%

            .intro
                width: 100%
                padding: 1rem 1rem

                h4
                    margin-bottom: 1rem
                
                p
                    max-width: 70ch

            .info
                width: 100%
                padding: 1rem 1rem

.gallery
    text-align: center

    p
        max-width: 70ch
        margin: 2rem auto

    .gallery-1
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        margin-bottom: 1rem

        img
            padding: 1rem
            object-fit: cover
            width: 100%
            min-width: 200px

        @media (min-width: 768px)
            .gallery-flex
                display: flex
                justify-content: space-between
                width: 100%
        
        
            
        

    

            



        